## Deliverable 3. Create a Travel Itinerary Map.

In [17]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import gmaps.datasets

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [3]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../VacationSearch/WeatherPyVacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Desc,Lat,Lng,Hotel Name
0,9,Jamestown,US,71.24,broken clouds,42.0970,-79.2353,Hampton Inn & Suites Jamestown
1,10,Camacha,PT,74.62,few clouds,33.0833,-16.3333,Hotel Porto Santo & Spa
2,13,Vite,IN,71.22,light rain,17.2833,74.5500,Hotel Dreamland
3,24,Ribeira Grande,PT,75.60,light rain,38.5167,-28.7000,Quinta da Meia Eira
4,28,Hambantota,LK,78.91,broken clouds,6.1241,81.1185,Bungalow 63

In [6]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather</dt><dd>{Desc}</dd>
<dt>Maximum Temperature</dt><dd>{Max Temp}</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [7]:
# 4a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [11]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df["City"]=="Llanes"]
vacation_end = vacation_df.loc[vacation_df["City"]=="Llanes"]
vacation_stop1 = vacation_df.loc[vacation_df["City"]=="Cervo"]
vacation_stop2 = vacation_df.loc[vacation_df["City"]=="Muros"] 
vacation_stop3 = vacation_df.loc[vacation_df["City"]=="Benavente"]

,City_ID,City,Country,Max Temp,Desc,Lat,Lng,Hotel Name
127,504,Llanes,ES,79.2,overcast clouds,43.4198,-4.7549,Hotel La Paz

In [42]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start[["Lat","Lng"]].to_numpy()
start=tuple(start[0])
end = vacation_end[["Lat","Lng"]].to_numpy()
end=tuple(end[0])
stop1 = vacation_stop1[["Lat","Lng"]].to_numpy()
stop1=tuple(stop1[0])
stop2 = vacation_stop2[["Lat","Lng"]].to_numpy()
stop2=tuple(stop2[0])
stop3 = vacation_stop3[["Lat","Lng"]].to_numpy()
stop3=tuple(stop3[0])

In [61]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
directionLayer=gmaps.directions_layer(start,end,waypoints=[stop1,stop2,stop3],show_markers=False,travel_mode="DRIVING")

In [20]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start,vacation_stop1,vacation_stop2,vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Desc,Lat,Lng,Hotel Name
0,504,Llanes,ES,79.20,overcast clouds,43.4198,-4.7549,Hotel La Paz
1,361,Cervo,ES,71.96,overcast clouds,43.6702,-7.4101,Hotel Spa Galatea
2,124,Muros,ES,73.17,overcast clouds,42.7762,-9.0603,Apartment Av. Castelao
3,360,Benavente,ES,73.27,overcast clouds,42.0025,-5.6783,Parador de Benavente

In [46]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather</dt><dd>{Desc}</dd>
<dt>Maximum Temperature</dt><dd>{Max Temp}</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

       Lat     Lng
0  43.4198 -4.7549
1  43.6702 -7.4101
2  42.7762 -9.0603
3  42.0025 -5.6783

In [62]:
# 11a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(43.4,-4.7), zoom_level=6)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
fig.add_layer(directionLayer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))